@media (max-width: 768px) {

    .menu {
        display: none;
        position: absolute;
        background-color: #4E0250;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #645986;
        transition: 0.3s ease;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .logo {
        font-size: 22px;
    }

    .menu {
        font-size: 14px;
    }

    .editor-title{
        font-size: 18px;
        margin-top: 10px;
    }

    .slider-title{
        font-size: 18px;
        margin-top: 20px;
    }

    .color-title{
        font-size: 18px;
        margin-top: 20px;
    }

    .download-title{
        font-size: 18px;
        margin-top: 20px;
    }

    #showEditor{
        font-size: 13px;
    }

    .text-container{
        margin-top: 60px;
    }
}

@media (max-width: 605px) {

    .logo {
        font-size: 18px;
    }

    .text-container{
        max-width: 26rem;
    }

    .navbar{
        padding: 10px;
    }
}

@media (max-width: 440px) {

    .text-container{
        max-width: 20rem;
    }
}
